html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.not-active {
    display: none;
}

.title {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

select {
    padding: 5px 10px;
    border-radius: 5px;
}

.form-group-selected {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.add_new_command {
    display: flex;
    flex-direction: row;
}

.new_command_name {
    margin-right: 20px;
}

.change_command {
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, .5);
}

.change_command:hover {
    border-color: rgba(0, 0, 0, 1)
}

.title {
    text-align: center;
}